body {
  background-color: rgb(255, 231, 206);
  box-shadow: ;
}

.content {
  max-width: 90%;
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
}

.bayan__box {
  list-style: none;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: none;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px dotted black;
  margin-bottom: 2rem;
}
