body {
  background-color: rgb(248, 239, 230);
}

.wrapper {
}

.content {
  max-width: 90%;
  margin: 5rem auto;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(233, 218, 204);
  min-height: 100vh;
  height: 100%;
  padding: 2rem;
}

.bayan__title {
  margin-bottom: 10rem;
  text-align: center;
}

.bayan__box {
  list-style: none;
  padding: 0;
}

.meme_container {
  display: none;
  position: relative;
  top: 1rem;
  left: 2.5rem;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 5rem;
}

img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px dotted black;
  margin-bottom: 4rem;
  max-width: 35rem;
  flex-wrap: wrap;
}

label:hover {
  cursor: pointer;
  display: block;
  animation: anim 0.5s ease-out;
}

.title:hover {
  font-weight: 700;
  cursor: pointer;
}

input:checked + .meme_container {
  display: block;
  animation: fadeIn 0.5s ease-out;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 830px) {
  .bayan__title {
    margin-bottom: 5rem;
  }
}
